@model UserViewModel

<input asp-for="Moniker" type="hidden" class="form-control" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3">
    <label asp-for="EmailAddress" class="form-label"></label>
    <input asp-for="EmailAddress" class="form-control" />
    <span asp-validation-for="EmailAddress" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="FirstNames" class="form-label"></label>
    <input asp-for="FirstNames" class="form-control" />
    <span asp-validation-for="FirstNames" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Role" class="form-label"></label>
    <select asp-for="Role" asp-items="Model.Roles" class="form-select">
    </select>
    <span asp-validation-for="Role" class="text-danger"></span>
</div>


