@model UserViewModel

@{
    ViewData["Title"] = "Add User";
}

<div class="body-content">
    <div class="card shadow-sm border-0 rounded-4">
        <form asp-action="Add" asp-controller="User" method="post">
            <div class="card-header bg-light text-dark">
                <h4>Add User</h4>
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @await Html.PartialAsync("_AddEdit.cshtml")
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    <!-- Validation scripts -->
    <partial name="_ValidationScriptsPartial" />
}
