@model ProductViewModel

<input asp-for="Moniker" type="hidden" class="form-control" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Description" class="form-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="ImageBase64" class="form-label"></label>
    <input type="file" id="ImageUpload" class="form-control" accept="image/*" />
    <input type="hidden" asp-for="ImageBase64" />
    <span asp-validation-for="ImageBase64" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="UserMoniker" class="form-label"></label>
    <select asp-for="UserMoniker" asp-items="Model.Users" class="form-select">
    </select>
    <span asp-validation-for="UserMoniker" class="text-danger"></span>
</div>



